{% extends "base.html" %}

{% block title %}Works{% endblock %}

{% block content %}

<section id="works-page">
    <h1>Our Programming Projects</h1>

    <div class="work-buttons">
        <a href="/Queuevisualizer"><button class="work-btn">Queue Visualizer</button></a>
        <a href="/Dequeue"><button class="work-btn">Dequeue Visualizer</button></a>
        <a href="/Project3"><button class="work-btn">Project 3</button></a>
        <a href="/Project4"><button class="work-btn">Project 4</button></a>
        <a href="/Project5"><button class="work-btn">Project 5</button></a>
    </div>
</section>
{% endblock %}
